/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  position: fixed;
  top: 40%;  
  min-width: 250px; /* Set a default minimum width */
  margin-right: 5%; /* Right margin to compensate weird left margin */
  border-radius: 2px; /* Rounded borders */
  background-color: rgba(235,60,54,.9); /* Form alert red background color + 10% transparency */
  box-shadow: 0 0 15px 15px rgba(255,255,255,.9);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter; /* lighter font, McLaren style */
  letter-spacing: 0.2px; /* imitate spacing of Soho font with defualt Helvetica */
  transform: scaleX(0.95); /* imitate width of Soho font with defualt Helvetica */
  text-align: center; /* Centered text */
  color: #fff; /* White text color */
  padding: 0.9rem 1.8rem; /* Padding */
  z-index: 999; /* Add a z-index if needed */
/*  margin-left: -125px; - Divide value of min-width by 2 */
/*  position: fixed; - Sit on top of the screen */
/*  left: 50%; - Center the snackbar */
/*  bottom: 50px; - 50px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 30s;
  animation: fadein 0.5s, fadeout 0.5s 30s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}